{% extends 'blog/blog_base.html'}

{% block content %}

<div class="jumbotron">
  <h1>Please Login in!</h1>
  <h2>If you don't have login info contact system adminstrator</h2>

  {% if form.error %}
  <p>Your form has an error, please correct.</p>
  {% end if %}

  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Login">
    <input type="hidden" name="next" value="{{next}}">
  </form>
</div>

{% endblock %}
