<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- BootStrap Link  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Medium Style Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-default techfont custom-navbar">
      <div class="container">
        <ul>
          <li><a class="navbar-brand bigbrand techfont" href="{% url 'blog:list' %}">Posts</a></li>
          <li><a href="{% url 'blog:about' %}">About</a></li>
          <li><a href="http://www.github.com">GitHub</a></li>
          <li><a href="http://www.linkedin.com">LinkedIn</a></li>
        </ul>
      </div>

    </nav>

  </body>
</html>
