{% extends "groups/group_base.html" %}


{% block pre_group %}

<h1>Group Name: {{ group.name }}</h1>
<h2>Group Count: {{ group.members.count }}</h2>

<div class="content">
  {% if user in group.members.all %}
  <a class="btn btn-lg btn-fill btn-warning" href="{% url 'group:leave' slug=group.slug %}">
    <span class="glyphicon glyphicon-remove-circle">Leave</span>
  </a>
  {% else %}
  <a class="btn btn-lg btn-fill btn-warning" href="{% url 'group:join' slug=group.slug %}">
    <span class="glyphicon glyphicon-ok-circle">Leave</span>
  </a>
  {% endif %}

</div>
{% endblock %}

{% block group_content %}
<div class="col-md-8">
  {% if group.posts.count == 0 %}
  <h2>no posts in the group</h2>
  {% else %}
  {% for posts in group.posts.all  %}
  
  {% include "posts/_posts.html" %}

  {% endfor %}
  {% endif %}

</div>

{% endblock %}
